@charset "utf-8";
/* CSS Document */

.estructura{background: white; margin-top: 15px;}

.textomit{float: right; margin-left: 50px; margin-top: 60px; text-align: center;}

.videomit{float: left ; margin-left: 60px;}